@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 49px 10%;
  z-index: 1;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
}

.title {
  font-size: 4.5rem;
  font-weight: 900;
  margin-bottom: 2rem;
  font-family: system-ui;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 70%,
    rgba(255, 255, 255, 0) 120%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.description {
  font-size: 1.875rem;
  font-family: math;
  margin-bottom: 3rem;
  animation: floating 3s ease-in-out infinite;
}

.contactBtn {
  cursor: pointer;
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-text);
  border-radius: 100px;
  font-size: 1.875rem;
  font-weight: 600;
  padding: 1rem 1.625rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}
.contactBtn:hover{
  background-color: var(--color-primary-hover);
}

.heroImg {
  width: 50%;
  z-index: 1;
  animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.topBlur {
  position: absolute;
  width: 50vw;
  height: 50vw;
  min-width: 350px;
  top: -8rem;
  left: -10vw;
  border-radius: 50%;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

.bottomBlur {
  position: absolute;
  width: 70vw;
  height: 50vw;
  min-width: 250px;
  top: 15rem;
  right: -25vw;
  border-radius: 50%;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

.Contact-wrapper {
  display: flex;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
    margin: 2rem 5%;
  }

  .title {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  .description {
    font-size: 1.625rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  .contactBtn {
    font-size: 1.5rem;
    padding: 0.875rem 1.5rem;
    margin-bottom: 2rem;
    
  }

  .content {
    align-items: center;
    text-align: center;
  }

  .heroImg {
    width: 80%;
  }

  .topBlur {
    width: 60vw;
    height: 60vw;
    top: -6rem;
  }

  .bottomBlur {
    width: 80vw;
    height: 60vw;
    top: 10rem;
  }
}
