@import "../../vars.css";

.container {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.title {
  text-align: center;
  color: var(--color-text);
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.skills {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
}

.skillImageContainer {
  background-color: var(--color-secondary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
}

.skillImageContainer img {
  width: 75px;
}

.skill p {
  font-size: 1.5rem;
  font-family: var(--font-roboto);
  font-weight: 500;
}

.history {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.historyItem {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  background: linear-gradient(90deg, #19376d 0%, #132a53 100%);
  border-radius: 10px;
  padding: 1.5rem;
}

.historyItem img {
  width: 133px;
  position: relative;
  left: 2rem;
}

.historyItemDetails {
  font-family: var(--font-roboto);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.historyItemDetails h3 {
  font-size: 1.75rem;
  font-weight: 500;
}

.historyItemDetails p {
  font-size: 1.25rem;
  font-weight: 300;
}

.historyItemDetails ul {
  margin-top: 0.5rem;
  font-size: clamp(1.25rem, 2vw, 1.5rem);
  text-align: justify;
  list-style-type: disc;
  margin-left: 1rem;
}

@media screen and (max-width: 830px) {
  .content {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .skills {
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }

  .history {
    width: 100%;
    gap: 1rem;
  }
}

.Logo-wrapper {
  position: absolute;
}
