@import "./vars.css";

.App{
  background: linear-gradient(180deg, rgba(10, 25, 46, 0.76), rgba(7, 21, 40, 0.92));
  width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
}
@media screen and (max-width: 830px) {
  .App{
    height: 100%;

  }
  }